@model CHTC.Models.TbTaiKhoan;
<h1>DANG KY TAI KHOAN</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaiKhoan" class="control-label"></label>
                <input asp-for="TaiKhoan" class="form-control" />
                <span asp-validation-for="TaiKhoan" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>


            </div>
            <div class="form-group">
                <<div>
                    <label>Tình trạng:</label>
                    Chủ cửa hàng @Html.RadioButton("Quyen","True")
                    Nhân viên  @Html.RadioButton("Quyen","False")
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ĐĂNG KÝ" class="btn btn-primary" />
                Trở lại <a asp-action="Login">ĐĂNG NHẬP</a>
            </div>
        </form>
    </div>
</div>