@model CHTC.Models.TbNhanVien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ViewGD.cshtml";
}

<link href="~/asset/css/stylesheet.css" rel="stylesheet" />
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách nhân viên</li>
            <li class="breadcrumb-item"><a href="#">Thêm nhân viên</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới nhân viên</h3>
                <div class="tile-body">
                   
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label> Mã nhân viên :  </label>
                            <input asp-for="MaNhanVien" class="form-control" />
                            <span asp-validation-for="MaNhanVien" class="text-danger" ></span>
                        </div>
                        <div class="form-group">
                            <label>Tên nhân viên : </label>
                            <input asp-for="TenNhanVien" class="form-control" />
                            <span asp-validation-for="TenNhanVien" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ :</label>
                            <input asp-for="DiaChi" class="form-control" />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>
                       
                        
                        <div class="form-group">
                            <label class="control-label">Ngày sinh</label>
                            <input asp-for="NgaySinh" class="form-control" />
                            <span asp-validation-for="NgaySinh" class="text-danger"></span>
                           
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại:</label>
                            <input asp-for="Sdt" class="form-control"  />
                            <span asp-validation-for="Sdt" class="text-danger" ></span>
                        </div>
                       
                        <div class="form-group">
                            <label>Email : </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-cancel" asp-action="Index">Hủy bỏ</a>
                        </div>
                    </form>

                </div>
               
            </div>
        </div>
    </div>
</main>

@*<h1>Create</h1>

<h4>TbNhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDtaiKhoan" class="control-label"></label>
                <select asp-for="IDtaiKhoan" class ="form-control" asp-items="ViewBag.IDtaiKhoan"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input asp-for="MaNhanVien" class="form-control" />
                <span asp-validation-for="MaNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label"></label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
